$header: 60px;
$left-sider: 100px;
$right-sider: 500px;

.left-sider {
  max-width: $left-sider !important;
  min-width: $left-sider !important;
  width: $left-sider !important;
  background: #f3f4f9;
  .menu {
    padding-top: 100px;
    height: 100%;
    li {
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      svg {
        font-size: 20px;
      }
    }
  }
}

.right-sider {
  max-width: $right-sider !important;
  min-width: $right-sider !important;
  width: $right-sider !important;
  background: #fff;
  .profile {
    background: rgba(208, 211, 229, 0.2);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    padding: 20px 50px;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    margin: 30px;
    border-radius: 15px;
  }
  .history {
    padding: 20px 50px;
    .title {
      font-weight: 700;
      font-size: 20px;
    }
    ul {
      list-style: none;
      padding-left: 0px;
      li {
        padding: 20px 0px;
        span {
          font-size: 15px;
        }
      }
      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      svg {
        font-size: 20px;
      }
    }
  }
  .money-flow {
    padding: 20px 50px;
    display: flex;
    justify-content: space-around;
    .ant-btn {
      min-width: 100px !important;
      box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 1px 5px 0 rgba(0, 0, 0, 0.12);
      border: none;
      min-height: 50px;
    }
    svg {
      font-size: 20px;
    }
  }
}
.ant-layout-content {
  min-height: 100vh;
  background: rgba(208, 211, 229, 0.2);
  padding: 20px 50px;
  p {
    margin-bottom: 10px;
  }
  .balance {
    background: #1b43c6;
    color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 14px 20px 0px rgba(27, 67, 198, 0.3);
    .ant-row {
      width: 80%;
      margin: auto !important;
    }
    .statistic {
      color: rgba(231, 236, 250, 0.7);
      font-size: 15px;
      margin-top: 40px;
      svg {
        font-size: 15px;
      }
    }

    .total-balance {
      color: #fff;
      font-size: 40px;
      font-weight: 700;
      span {
        color: rgba(231, 236, 250, 0.7);
      }
    }
    .sub-title {
      color: rgba(231, 236, 250, 0.7);
      font-size: 20px;
    }
    img {
      margin-top: -20px;
    }
  }
  .tools-bar {
    margin-top: 30px;
    .card {
      border-radius: 15px;
      background: #fff;
      padding: 20px;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      svg {
        font-size: 30px;
      }
    }
  }
  .balance-chart {
    margin-top: 50px;
  }
  .daily-budget {
    margin-top: 50px;
    background: #fff;
    border-radius: 30px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    svg {
      font-size: 25px;
    }
    .budget {
      background: #0b0c25;
      border-radius: 20px;
      padding: 30px;
      .ant-statistic-title {
        color: #fff;
      }
      span {
        color: #fff;
        font-size: 30px;
      }
    }
    .spent {
      padding: 30px;

      span {
        font-size: 30px;
        color: #1b43c6;
      }
    }
  }
}
.search-box {
  $element-radius-border: 8px;
  background-color: #1b43c6;
  padding: 20px;
  color: #fff;
  ::placeholder,
  .ant-select-selection-placeholder {
    color: #fff !important;
  }
  border-radius: 20px;
  .ant-form-inline {
    display: flex;
    justify-content: space-between;
  }
  .ant-select,
  .ant-select-selector {
    min-width: 350px;
    border-radius: $element-radius-border !important;
    background: #2257f7 !important;
    border: none !important;
    color: #fff;
    svg {
      color: #fff;
    }
  }
  .ant-picker {
    min-width: 200px;
    border-radius: $element-radius-border;
    background: #2257f7;
    color: #fff;
    border: none;
    svg,
    .ant-picker-input > input {
      color: #fff;
    }
  }
  .ant-btn {
    min-width: 200px;
    border-radius: $element-radius-border;
  }
}
.expense-statistic {
  margin-top: 20px;
  background: #fff;
  border-radius: 30px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  svg {
    font-size: 25px;
  }
  .expenses {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0b0c25;
    border-radius: 20px;
    padding: 30px;
    height: 100%;
    .ant-statistic-title {
      color: #fff;
    }
    span {
      color: #fff;
      font-size: 30px;
    }
  }
  .line-chart {
    padding: 20px;
  }
}
.expense-history {
  background: #fff;
  width: 100%;
  border-radius: 10px;
  padding: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  ul {
    list-style: none;
    padding-left: 0px;
    li {
      padding: 10px 0px;
      span {
        font-size: 15px;
      }
    }
    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    svg {
      font-size: 20px;
    }
  }
}
.expense-budget {
  padding: 10px;
  display: flex;
  margin-top: 20px;
  overflow-y: auto;
  p {
    margin-bottom: 0;
  }
  .expense-card {
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #fff;
    width: 160px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 5px 14px;
  }
  .default-card {
    background: rgba(149, 157, 165, 0.2);
    svg {
      font-size: 50px;
    }
    box-shadow: none;
    cursor: pointer;
  }
  .expense-card:nth-child(1) {
    margin-left: 0;
  }
}
.ant-modal-footer {
  display: none;
}
.ant-modal-body,
.ant-modal-content {
  background: #e5eaf2;
  border-radius: 8px;
}
.ant-select,
.ant-select-selector,
.ant-input {
  border: none !important;
}
